name: Tag and Release

on:
  workflow_dispatch:
    inputs:
      level:
        description: "Cargo-Release bump option"
        type: choice
        required: true
        default: "minor"
        options:
          - patch
          - minor
          - major
      description:
        description: "Release description text"
        type: string
        required: true
        default: ""

jobs:
  bump-version:
    name: Bump Version
    runs-on: ubuntu-latest

    outputs:
      tag: ${{ steps.bump-version.outputs.tag }}

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31

      - id: configure-credentials
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}

      - id: bump-version
        run: |
          nix develop .#ci --command \
            nix shell --inputs-from . nixpkgs#cargo-release --command \
              cargo release ${{ inputs.level }} --no-publish --no-push --no-confirm --no-verify --execute
          TAG=$(git describe --tags --abbrev=0)
          echo "tag=${TAG}" >> "$GITHUB_OUTPUT"
          cat $GITHUB_OUTPUT

      - id: push-release
        run: |
          git push
          git push --tags

  build-windows:
    needs:
      - bump-version
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - id: build
        run: nix build .#windows
      - uses: actions/upload-artifact@v4
        with:
          name: aos2-save-editor-windows
          path: result/bin/aos2-save-editor.exe

  build-linux:
    needs:
      - bump-version
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - id: build
        run: nix build .
      - uses: actions/upload-artifact@v4
        with:
          name: aos2-save-editor-linux
          path: result/bin/aos2-save-editor

  release-all:
    needs:
      - bump-version
      - build-windows
      - build-linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: aos2-save-editor-windows
          path: ./release/windows
      - uses: actions/download-artifact@v4
        with:
          name: aos2-save-editor-linux
          path: ./release/linux

      - uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ needs.bump-version.outputs.tag }}
          tag_name: ${{ needs.bump-version.outputs.tag }}
          body: ${{ inputs.description }}
          files: |
            release/windows/aos2-save-editor.exe
            release/linux/aos2-save-editor
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
